$primary-color: #644be4;
$secondary-color: #e3deff;
$backgroung-color: #f0f0f0;
$gilroy-regular: "Gilroy-Regular", Arial, Helvetica, sans-serif;
$gilroy-medium: "Gilroy-Medium", Arial, Helvetica, sans-serif;
$gilroy-semibold: "Gilroy-SemiBold", Arial, Helvetica, sans-serif;
$gilroy-bold: "Gilroy-Bold", Arial, Helvetica, sans-serif;
@font-face {
  font-family: "Gilroy-Regular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@mixin display-flex {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: #ffffff;
  background-color: #644be4;
}
body {
  font-family: $gilroy-regular;
  font-size: 16px;
  letter-spacing: 0.5px;
  min-height: 100vh;
  background-color: $backgroung-color;
}
